/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.tile {
  width: 30vw;
  height: 30vh;
  background-color: blue;
  margin: 0, auto;
}

#goose {
  display: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
